################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Taschenrechner/.vs/Taschenrechner/v15/Server/sqlite3
